/* 容器設定*/

.product-gallery{
    max-width: 746px;
    flex: 1.5;
}

.product-info{
    max-width: 526px;
    flex: 1;
}

.pd-gallery-col{
    width: 48%;
}

.related-products{
    max-width: 1296px;
    margin: 0 auto;
}

.related-pds-col{
    width: 25%;
}

.product-info{
    max-width: 526px;
}

/* 容器設定*/
/* 各 class 設定*/

.pd-img{
    width: 100%;
}

.related-pds-img{
    width: 100%;
}

.breadcrumb .current {
  color: #212529;
  pointer-events: none; /* 禁用點擊 */
}

.bread-list{
    color: #6C757D;
    text-decoration: none;
    font-weight: 500;
}

.bread-list:hover{
    color: #57A203;
}

.bread-list:focus{
    color: #212529;
}

.slash{
    font-weight: 700;
    letter-spacing: 0em;
    color: #DEE2E6;
}

.breadcrumb .slash {
  color: #DEE2E6;
}



.size-group input[type="radio"] {
  display: none;
}

.size-group label {
  width: 160px;
  display: inline-block;
  text-align: center;
  padding: 12px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #212529;
  font-weight: 500;
}

.size-group input[type="radio"]:checked + label {
  border: 1px solid #212529;
}

.size-group label:hover {
   border: 1px solid #212529;
}

.size-group label.disabled {
    cursor: not-allowed;
    opacity: 40%;
}

.cimg{
    width: 64px;
}

.colortxt{
    color: #6C757D;
    font-weight: 500;
}

/* 隱藏原生 radio */
.color-img input[type="radio"] {
  display: none;
}

/* label 結構對齊、滑鼠樣式 */
.color-img label {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

/* hover 時圖片透明度降低 */
.color-img label:hover img.cimg {
  opacity: 0.8;
}

/* 選中時圖片加黑框 */
.color-img input[type="radio"]:checked + label .cimg {
  border: 2px solid #212529;
}

/* 選中時文字變黑 */
.color-img input[type="radio"]:checked + label .colortxt {
  color: #212529;
}

.save{
    display: block;
    width: 259px;
    padding: 12px 0;
    background: none;
    border: 1px solid #212529;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.save:hover{
    cursor: pointer;
    background: #212529;
}

.save:hover .love path{
    fill: #FFFFFF;
}
.save:hover .lovetxt{
    color: #FFFFFF;
}

.save:focus{
    background: #212529;
}

.save:focus .love path{
    fill: #FFFFFF;
}
.save:focus .lovetxt{
    color: #FFFFFF;
}

.save:disabled {
  border: 1px solid rgba(33, 37, 41, 0.4); /* 原本是 #212529，透明度 40% */
  cursor: not-allowed;
}
.save:disabled .love path{
  opacity: 0.4;
  cursor: not-allowed;
}

.reserve{
    display: block;
    width: 259px;
    padding: 12px 0;
    background: #212529;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.reserve:hover{
    background: #495057;
    cursor: pointer;
}

.reserve:focus{
    box-shadow: 0 0 0 3px rgba(33,37,41, 0.1);
}

.reserve:disabled {
  background: #212529;
  opacity: 40%;
  cursor: not-allowed;
}

.reserve:disabled .love path{
  opacity: 0.4;
  cursor: not-allowed;
}

.related-pds-title{
    padding: 9.5px 0;
}


.related-pds-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.1s ease;  /* 動畫時間 */
}

.card-img-link:hover .related-pds-img{
    opacity: 80%;
}

.related-pds-img.shrink {
  width: 95%;
}



/* 各 class 設定*/

@media (max-width: 992px){

    .related-pds-col{
        width: 50%;
    }
    .bread-list{

    }
}

@media (max-width: 767px){
    
    .pd-gallery-col{
        width: 95%;
    }

    .related-pds-col{
        width: 100%;
    }

}