/* 容器設定*/

.product-gallery{
    max-width: 746px;
    flex: 1.5;
}

.product-info{
    max-width: 526px;
    flex: 1;
}

.pd-gallery-col{
    width: 48%;
}

.related-products{
    max-width: 1296px;
    margin: 0 auto;
}

.related-pds-col{
    width: 25%;
}

.product-info{
    max-width: 526px;
}

/* 容器設定*/
/* 各 class 設定*/

.pd-img{
    width: 100%;
}

.related-pds-img{
    width: 100%;
}

.breadcrumb .current {
  color: #212529;
  pointer-events: none; /* 禁用點擊 */
}

.bread-list{
    color: #6C757D;
    text-decoration: none;
    font-weight: 500;
}

.bread-list:hover{
    color: #57A203;
}

.bread-list:focus{
    color: #212529;
}

.slash{
    font-weight: 700;
    letter-spacing: 0em;
    color: #DEE2E6;
}

.breadcrumb .slash {
  color: #DEE2E6;
}



.size-group input[type="radio"] {
  display: none;
}

.size-group label {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #212529;
  font-weight: 500;
}

.size-group input[type="radio"]:checked + label {
  border: 1px solid #212529;
}

.size-group label:hover {
   border: 1px solid #212529;
}

.size-group label.disabled {
    cursor: not-allowed;
    opacity: 40%;
}

.cimg{
    width: 64px;
}

.colortxt{
    color: #6C757D;
    font-weight: 500;
}

/* 隱藏原生 radio */
.color-img input[type="radio"] {
  display: none;
}

/* label 結構對齊、滑鼠樣式 */
.color-img label {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

/* hover 時圖片透明度降低 */
.color-img label:hover img.cimg {
  opacity: 0.8;
}

/* 選中時圖片加黑框 */
.color-img input[type="radio"]:checked + label .cimg {
  border: 2px solid #212529;
}

/* 選中時文字變黑 */
.color-img input[type="radio"]:checked + label .colortxt {
  color: #212529;
}

.related-pds-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 1s ease;  /* 動畫時間 */
}

.card-img-link:hover .related-pds-img{
    opacity: 80%;
}

.related-pds-img.shrink {
  width: 80%;
}

/* 各 class 設定*/

@media (max-width: 992px){

    .related-pds-col{
        width: 50%;
    }
    .bread-list{

    }
}

@media (max-width: 767px){
    
    .pd-gallery-col{
        width: 95%;
    }

    .related-pds-col{
        width: 100%;
    }

}