

/* 容器設定*/

header{
    max-width: 1296px;
    margin: 0 auto;
}

.container{
    max-width: 1296px; 
    margin: 0 auto;
}

.sidebar{
    max-width: 196px;
    flex: 2;
}

.product{
    max-width: 1076px;
    padding: 0 12px;
    flex: 3;
}

.card-row{
    margin: 0 -12px;
}

.col{
    max-width: 33.3333%;
    padding:0 12px;
}

.footer-text{
    max-width: 1296px;
    margin: 0 auto;
}



/* 容器設定*/
/* 各 class 設定*/

.logo{
    display:inline-block;
    position: relative;
    font-family: Mina;
    letter-spacing: 0.044em;
    line-height: 1.5;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #212529;
    padding: 8px 12px;
}


.logo-circle{
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: -1;
}

.nav-list{
    color: #212529;
    text-decoration: none;
    font-weight: 500;
}

.nav-list:hover{
    color: #6C757D;
}

.nav-list:focus{
    color: #212529;
    border-bottom: 2px solid #212529;
}

.member-icon-link:hover .member-icon path{
    fill: #6C757D;
}

.member-icon-link:focus .member-icon path{
    fill: #6C757D;
}

.breadcrumb .current {
  color: #212529;
  pointer-events: none; /* 禁用點擊 */
}

.bread-list{
    color: #6C757D;
    text-decoration: none;
    font-weight: 500;
}

.bread-list:hover{
    color: #57A203;
}

.bread-list:focus{
    color: #212529;
}

.slash{
    font-weight: 700;
    letter-spacing: 0em;
    color: #DEE2E6;
}

.title{
    font-size: 28px;
    padding: 7px 0;
}

.cardimg{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 1s ease;  /* 動畫時間 */
}

.card-img-link:hover .cardimg{
    opacity: 80%;
}

.cardimg.shrink {
  width: 50%;
}



.menu-link{
    max-width: 172px;
    display: block;
    text-decoration: none;
    color: #212529;
    font-weight: 500;
}

.menu-title {
  all: unset;
  cursor: pointer;
  font-weight: 500;
  color: #212529;
  padding: 12px 0;
}

.mt-current{
      all: unset;
  cursor: pointer;
  font-weight: 500;
  color: #57A203;
  padding: 12px 0;
}

.menu-link:hover{
    color: #57A203;
}

.menu-link:focus{
    color: #57A203;
}

.submenu {
  display: none;
  padding-left: 0;
}

.menu-group.active .submenu {
  display: block;
}

.submenu-link {
  display: block;
  color: #6C757D;
  padding: 4px 0;
  text-decoration: none;
}

.submenu-link:hover {
  color: #57A203;
}

.price{
    font-weight: 500;
}

.arrow{
    display: inline-block;

}

.page-link{
    display:inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color: #212529;
}

.pg-current{
    background-color: #C0FA73
}

.arrow:hover path{
    fill: #ADB5BD;
}

.page-link:hover{
    background-color: #F8F9FA;
}
.page-link:focus{
    background-color: #C0FA73;
}

.join-member-cta{
    background: #E8FEC5;
}

.member{
    line-height: 1.5;
    padding: 12px 24px;
    background: #000;
    border-radius: 4px;
    color: #FFFFFF;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.member:hover{
    background: #495057;

}

.member:focus{
    background: #495057;
}

footer{
    max-width: 100vw;
    background: #F8F9FA;
}

.logo-footer{
    display:inline-block;
    position: relative;
    font-family: Mina;
    letter-spacing: 0.044em;
    line-height: 1.5;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #212529;
    padding: 8px 12px;
    z-index: 0;
}

.logo-footer-circle{
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: -1;
}

.psm{
    font-size: 14px;
    color: #6C757D;
    text-align: center;
}



@media (max-width: 992px){
    .col{
        max-width: 50%;
    }
}

@media (max-width: 767px){
    .col{
        max-width: 100%;
    }
}